@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.body{
	background-color: lightyellow;
}
.heading1{
	font-size: 40px;
	font-family: 'ubuntu',sans-serif;
	color: darkviolet;
}

.para1{
	font-family:courier;
	font-size: 20px;
	font-weight: 30px;
}

.l{
	font-family:'Monospace';
}

.heading2{
	font-size: 40px;
	font-family: 'Poppins';
	color: red;
}

.paragraph{
	text-align: center;
	font-family: areal;
	font-size: 18px;
}

.doctors{
	height:600px;
}

.a{
	padding-top:10px;
	font-size: 35px;
	color: darkblue; 
}

.b{
	border-radius:60%;
}

.image2{
	border-radius:50px;
}
.c{
	color: blue;
}
.d{
	font-family:ubantu;
	color:green;
}